.bg{
    background-color: #FFD8D9;
}
.navbar-btn{
    padding: 7px 40px;
    background-color: #72BF44;
    color: #fff;
}
.navbar-btn:hover{
    background-color: #1F398A;
    transition: ease 0.5s;
}
.banner-btn{
    background: #72BF44;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    width: 200px;
}
.banner-btn:hover{
    background-color: #1F398A;
    transition: ease 0.5s;
}